@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f172a;
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0f172a;
  color: #f1f5f9;
}
